@use '../../styles/_var' as var;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: var.$font-montserrat;
    position: relative;
    max-width: 1920px;
    height: 1113px;
    background: var.$bg-primary-gradient;

    &::after {
        content: '';
        position: absolute;
        top: 48px;
        bottom: 48px;
        left: 0;
        width: 100%;
        background: url('../../../public/images/Q&A/888-Q&A.png') center/cover no-repeat;
    }

    @media screen and (max-width: 1440px) {
        height: 1285px;
        background: var.$bg-primary-gradient;
        
        // background: rgba(124, 45, 188, 0.15);

        &::after {
            content: '';
            position: absolute;
            top: 226px;
            bottom: 184px;
            left: 0;
            width: 100%;
            background-image: url('../../../public/images/Q&A/888-Q&A.png') center/cover no-repeat;
        }
    }
}

.title {
    z-index: 1;
    text-align: center;
    font-weight: 400;
    font-size: 55px;
    color: var.$gray;
    padding-top: 59px;

    @media screen and (max-width: 1440px) {
        padding-top: 123px;
    }
}

.container {
    z-index: 1;
    width: 1597px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 98px;

    @media screen and (max-width: 1440px) {
        padding-top: 125px;
        gap: 60px;
        width: 1174px;
        // background: rgba(124, 45, 188, 0.15);
    }
}

.block {
    min-height: 226px; // Меняем с фиксированной высоты на минимальную
    height: auto; // Добавляем это для возможности расширения контента
    padding: 40px 52px;
    background-color: rgba(20, 7, 31, 1);
    border-top: 2px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #EFD48E 48.76%, rgba(255, 255, 255, 0) 100%) 1;
    transition: box-shadow 0.3s ease, height 0.3s ease;
    will-change: box-shadow, height;

    &.active {
        height: auto; 
        min-height: 256px;
        box-shadow: 0 0 60px rgba(245, 216, 144, 0.8);
        border-top: none;
    }

    // @media screen and (max-width: 1440px) {
    //     padding-top: 125px;
    //     gap: 60px;
    // }
}

.text {
    min-height: 122px; 
    height: auto;
    display: flex;
    gap: 32px;
}

.question {
    width: 445px;
    color: rgba(210, 205, 216, 1);
    font-size: 24px;
    font-weight: 400;
    transition: font-weight 0.3s ease;

    &.questionActive {
        font-weight: 600 !important;
    }
}

.explanation {
    width: 915px;
    color: var.$gray;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6; // Добавляем для контроля высоты строк
    transition: all 0.3s ease;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    @media screen and (min-width: 1920px) {
        -webkit-line-clamp: 3;
    }

    @media screen and (min-width: 761px) and (max-width: 1440px) {
        -webkit-line-clamp: 4;
    }

    @media screen and (max-width: 760px) {
        -webkit-line-clamp: 3;
    }

    &.explanationActive {
        display: block;
        -webkit-line-clamp: unset;
        height: auto;
        overflow: visible;
    }
}

.button {
    margin-top: 25px;
    width: 82px;
    height: 82px;
    background-color: transparent;
    border: 0;
    background-image: url('../../../public/images/Q&A/Property 1=Component 3.png');
    cursor: pointer;
    transition: transform 0.3s ease;
    will-change: transform;
    transform-style: preserve-3d;
    perspective: 1000px;

    &.rotated {
        transform: rotateX(180deg);
    }
}